main{
  min-height: 80vh;
}
h1{
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2{
  font-size: 1.4rem;
  padding: 0.5rem 0;
}
h3{
  padding: 1rem 0;
}

.signature-box{
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 1000px) {
  .signature-box  .canvas {
    height: 230px;
    margin: 0.5rem;
  }
}



@media screen and (max-width: 600px) {
  .signature-box .canvas {
    height: 10rem;
    width: 10rem;
    margin: 0.5rem;
  }
}


.rating span{
  margin:0.1rem;
}

.color-box > button{
  border: 0.1px solid;
}

.man-buttons{
  display: flex;
  max-height: 100px;
}
.btn-cntrl{
  margin: 0.1rem;
  height: 50px;
  box-shadow: 10px 5px 5px blue;
  border-radius: 10%;
}

.ld-custom {
  /* display: block;
  margin-right: 50%;
  margin-left: 50%; */
  /* display: flex; */
  /* position: absolute;
  top:35%;
  left: 40%; */
  display: flex;
  justify-content: center;
  margin-right: 5%;
  /* margin-left: 38%; */
}
@media only screen and (max-width: 600px) {
  .ld-custom {
    margin-left: 15%;
  }
}
.create-btn{
  display: flex;
  flex-direction: row-reverse;
}


.carousel-item {
  background-color: darkgrey;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
  /* flex-direction: column; */
}
.carousel-caption {
  /* position: flex;
  margin-top: 40%;
  margin-left: 50%; */
  position: absolute;
  top: 0;
}

.carousel-caption h4 {
  color: #fff;
}

.carousel img {
  display:block;
  height: 300px;
  padding: 30px;
  margin: 40px;
  border-radius: 20%;
  /* margin-left: 30%; */
  margin-left: auto;
  margin-right: auto;
}
.carousel a {
  margin: 0 auto;
}
@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}


.mynav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}